:root{
    --lightBlue: #39bda7;
    /* --darkBlue: #090979; */
    --hoverDarkBlue: #E53E3E;
    --darkBlue: #f56565;
    --black: #000000;
    --white: #ffffff;
    --smokyWhite: #F5F5F5;
}

.app{
    background-color: #F5F5F5;

}