@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.hero-container {
    display: flex;
    justify-content: space-between;

    background-color: wheat;
    max-width: 80%;
    margin: 0 auto;
}

.hero-text {
    /* padding-left: 20px; */
    /* padding-top: 50px; */
    font-weight: 700;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif
}

.hero-wrapper {
    padding-left: 40px;
    padding-top: 90px;
}

.hero-image {
    max-width: 500px;
    max-height: 500px;
}

.hero-image-container {
    padding-right: 60px;
    padding-top: 70px;
}

.hero-tag {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
}

.buttons {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5em;
}

.btn1 {
    background-color: purple;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    border-radius: 6px;
    width: 260px;
}

.btn1:hover {
    color: white;
}

.btn1::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
}

.btn1:hover::before {
    width: 160%;
}

.btn2 {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    border-radius: 6px;
    width: 260px;
}

.btn2:hover {
    color: white;
}

.btn2::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
}

.btn2:hover::before {
    width: 160%;
}

.what-container {
    max-width: 50%;
    background-color: wheat;
    padding-left: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.what-text {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.list {
    font-size: 18px;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    list-style: disc;
    padding: 0;
    margin: 0 auto;
    /* center the list horizontally */
    max-width: 600px;
    /* set a maximum width for the list */
}

li {
    font-weight: 700;
    margin-bottom: 10px;
    /* add some spacing between list items */
    font-size: 16px;
    line-height: 1.5;
}

li::marker {
    color: purple;
    font-size: 1rem;
}

.partner-container {
    background-color: wheat;
}